.splitflagstyle49638{ color: #ffffff ;}
.fontstyle49638{ color: #ffffff; font-size: 10pt; text-decoration: none ;}
.winstyle49638{ color: #fff; font-size: 10pt; font-weight: bold ;}

.c49641_date {
line-height: 150%;
font-size: 9pt;
text-decoration: none;}
.c49641_leaderfont {
font-size: 9pt;
line-height: 150%;}
.c49641_columnstyle {
font-size: 10pt;
color: #c00;
text-decoration: none;}
.c49641_isnew {}
