.erjifontover51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}
.leaderfont51712{ font-size: 9pt; color: #ffffff ;}
.erjibackground51712{ background-color: #ebf7e4 ;}
.fontstyle51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.yijifontover51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.erjibackgroundover51712{ background-color: #5ea332 ;}
.ejfontstyle51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}

.windowstyle51709{ font-size: 11pt; font-family: 宋体; font-weight: bold; color: #117515 ;}

.splitflagstyle51710{ color: #222222 ;}
.fontstyle51710{ font-size: 9pt; color: #222222; text-decoration: none ;}
.winstyle51710{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.footstyle51713{ font-size: 9pt ;}
.votestyle51713{ font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体 ;}
.navstyle51713{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.pagestyle51713{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.authorstyle51713{ font-size: 9pt ;}
.contentstyle51713{ font-size: 9pt; line-height: 150% ;}
.titlestyle51713{ font-weight: bold; font-size: 12pt; padding-top: 10px ;}
.contextstyle51713{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.votetitlestyle51713{ font-size: 9pt; color: #2b2b2b; font-family: 宋体 ;}
.timestyle51713{ font-size: 9pt ;}
.winstyle51713{ font-size: 9pt; font-family: 宋体 ;}
.c51713_content span{
    font-size:100%;}
