.erjifontover51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}
.leaderfont51712{ font-size: 9pt; color: #ffffff ;}
.erjibackground51712{ background-color: #ebf7e4 ;}
.fontstyle51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.yijifontover51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.erjibackgroundover51712{ background-color: #5ea332 ;}
.ejfontstyle51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}

.windowstyle51823{ font-weight: bold; font-size: 10pt; color: #222222; font-family: 宋体 ;}

.erjifontover51824{ font-size: 10pt; text-decoration: none; font-family: 宋体; font-weight: bold; color: #1a761a; letter-spacing: 1px; line-height: 200% ;}
.leaderfont51824{ line-height: 160%; font-family: 宋体; color: #666666; font-size: 11pt ;}
.currentfontStyle51824{ line-height: 160%; font-family: 宋体; color: #cc0000; font-size: 11pt; text-decoration: none ;}
.fontstyle51824{ font-size: 10pt; text-decoration: none; font-family: 宋体; font-weight: bold; color: #1a761a; letter-spacing: 1px; line-height: 200% ;}
.yijifontover51824{ font-size: 10pt; text-decoration: none; font-family: 宋体; font-weight: bold; color: #1a761a; letter-spacing: 1px; line-height: 200% ;}
.ejfontstyle51824{ font-size: 10pt; text-decoration: none; font-family: 宋体; font-weight: bold; color: #1a761a; letter-spacing: 1px; line-height: 200% ;}

.windowstyle51709{ font-size: 11pt; font-family: 宋体; font-weight: bold; color: #117515 ;}

.splitflagstyle51710{ color: #222222 ;}
.fontstyle51710{ font-size: 9pt; color: #222222; text-decoration: none ;}
.winstyle51710{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.votetitlestyle51825{ font-size: 9pt; color: #2b2b2b; font-family: 宋体 ;}
.titlestyle51825{ font-weight: bold; font-size: 12pt; padding-top: 10px ;}
.navstyle51825{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.timestyle51825{ font-size: 9pt ;}
.contentstyle51825{ font-size: 9pt; line-height: 150% ;}
.authorstyle51825{ font-size: 9pt ;}
.footstyle51825{ font-size: 9pt ;}
.contextstyle51825{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.winstyle51825{ font-size: 9pt; font-family: 宋体 ;}
.votestyle51825{ font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体 ;}
.pagestyle51825{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.c51825_content span{
    font-size:100%;}
