.erjifontover17813{ border-bottom: #676767 1px solid; position: relative; text-align: center; line-height: 160%; background-position-x: center; font-family: 宋体; height: 26px; color: #000000; font-size: 10pt; font-weight: bold ;}
.leaderfont17813{ color: #222222; font-size: 9pt ;}
.erjibackground17813{ background-color: #eff8fe ;}
.currentfontStyle17813{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle17813{ color: #ffffff; font-size: 11pt; font-weight: bold ;}
.yijifontover17813{ color: #ffff00; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover17813{ background-color: #e8f0fb ;}
.ejfontstyle17813{ border-bottom: #676767 1px solid; position: relative; text-align: center; line-height: 160%; background-position-x: center; font-family: 宋体; height: 26px; color: #000000; font-size: 10pt; font-weight: bold ;}

.fontstyle17825{ font-size: 9pt; color: #222222; text-decoration: none ;}
.splitflagstyle17825{ color: #222222 ;}
.winstyle17825{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.votetitlestyle17826{ font-size: 9pt; color: #2b2b2b; font-family: 宋体 ;}
.titlestyle17826{ font-weight: bold; font-size: 12pt ;}
.navstyle17826{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.timestyle17826{ font-size: 9pt ;}
.contentstyle17826{ font-size: 9pt; line-height: 150% ;}
.authorstyle17826{ font-size: 9pt ;}
.footstyle17826{ font-size: 9pt ;}
.contextstyle17826{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.winstyle17826{ font-size: 9pt; font-family: 宋体 ;}
.votestyle17826{ font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体 ;}
.pagestyle17826{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.c17826_content span{
    font-size:100%;}
