.timestyle51156{ font-size: 9pt ;}
.mtitlestyle51156{ line-height: 25px; color: #222222; font-size: 9pt ;}
.leaderfont51156{ font-size: 9pt ;}
.titlestyle51156{ color: #222222; font-size: 9pt; text-decoration: none ;}

.splitcharstyle37909{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font37909{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.erjifontover51157{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont51157{ color: #ffffff; font-size: 9pt ;}
.erjibackground51157{ background-color: #eff8fe ;}
.fontstyle51157{ color: #ffffff; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover51157{ background-color: #e8f0fb ;}
.ejfontstyle51157{ font-size: 9pt; color: #222222; line-height: 160% ;}

.titlestyle51292{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle51292{ line-height: 150%; color: #222222; font-size: 9pt ;}

.morestyle50435{ font-size: 9pt ;}
.clickstyle50435{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50435{ font-size: 9pt; line-height: 150% ;}
.titlestyle50435{ line-height: 25px; font-size: 10pt; text-decoration: none ;}
.columnstyle50435{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50435{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50435 {
line-height: 25px; font-size: 10pt; text-decoration: none 
;}
A.c50435:link {
color:#222222;}
A.c50435:visited {
color:#222222;}
A.c50435:active {
color: #222222;}
A.c50435:hover {
color: #cc0000;}
.morestyle50437{ font-size: 9pt ;}
.clickstyle50437{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50437{ font-size: 9pt; line-height: 150% ;}
.titlestyle50437{ line-height: 25px; font-size: 10pt; text-decoration: none ;}
.columnstyle50437{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50437{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50437 {
line-height: 25px; font-size: 10pt; text-decoration: none 
;}
A.c50437:link {
color:#222222;}
A.c50437:visited {
color:#222222;}
A.c50437:active {
color: #222222;}
A.c50437:hover {
color: #cc0000;}
.morestyle51160{ font-size: 9pt ;}
.clickstyle51160{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont51160{ font-size: 9pt; line-height: 150% ;}
.titlestyle51160{ line-height: 25px; font-size: 10pt; text-decoration: none ;}
.columnstyle51160{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle51160{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c51160 {
line-height: 25px; font-size: 10pt; text-decoration: none 
;}
A.c51160:link {
color:#222222;}
A.c51160:visited {
color:#222222;}
A.c51160:active {
color: #222222;}
A.c51160:hover {
color: #cc0000;}
