.titlestyle42541{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle42541{ line-height: 150%; color: #222222; font-size: 9pt ;}

.subtitlestyle42544{ height: 0px ;}
.titlestyle42544{ height: 0px ;}
.linkcontentfontstyle42544{ color: #c00; font-size: 12px ;}
.winstyle42544{ margin-top: -5px ;}

li{float:left; width:320px;}
