.erjifontover10025{ color: #FFFFFF; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.leaderfont10025{ color: #fff; font-size: 9pt ;}
.yijibackground10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.erjibackground10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.currentfontStyle10025{ color: #ffffff; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle10025{ color: #FFFFFF; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.yijifontover10025{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.yijibackgroundover10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.ejfontstyle10025{ color: #FFFFFF; font-size: 9pt; font-weight: bold; text-decoration: none ;}

.timestyle17008{ font-size: 9pt ;}
.leaderfont17008{ font-size: 9pt; color: #222222; line-height: 150% ;}
.titlestyle17008{ font-size: 9pt; color: #222222; line-height: 200%; text-decoration: none ;}
.morestyle17008{ font-size: 9pt ;}

.leaderstyle10027{ font-size: 9pt; color: #222222 ;}
.morestyle10027{ font-size: 9pt ;}
.linkstyle10027{ line-height: 20px; padding-left:5px;color: #222222; font-size: 9pt ;}
.jumpstyle10027{ font-size: 9pt; font-family: 宋体 ;}
A.c10027 {
line-height: 20px; padding-left:5px;color: #222222; font-size: 9pt 
;}
A.c10027:link {
color:;}
A.c10027:visited {
color:;}
A.c10027:active {
color: ;}
A.c10027:hover {
color: ;}
.morestyle16894{ font-size: 9pt ;}
.clickstyle16894{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont16894{ font-size: 9pt; line-height: 150% ;}
.titlestyle16894{ line-height: 200%; font-size: 9pt; text-decoration: none ;}
.columnstyle16894{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle16894{ font-size: 9pt; color: #666666; line-height: 150%;}
A.c16894 {
line-height: 200%; font-size: 9pt; text-decoration: none 
;}
A.c16894:link {
color:#222222;}
A.c16894:visited {
color:#222222;}
A.c16894:active {
color: #222222;}
A.c16894:hover {
color: #cc0000;}
.morestyle16897{ font-size: 9pt ;}
.clickstyle16897{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont16897{ font-size: 9pt; line-height: 150% ;}
.titlestyle16897{ line-height: 200%; font-size: 9pt; text-decoration: none ;}
.columnstyle16897{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle16897{ font-size: 9pt; color: #666666; line-height: 150%;}
A.c16897 {
line-height: 200%; font-size: 9pt; text-decoration: none 
;}
A.c16897:link {
color:#222222;}
A.c16897:visited {
color:#222222;}
A.c16897:active {
color: #222222;}
A.c16897:hover {
color: #cc0000;}
.titlestyle50244{ font-size: 9pt; color: #222222; line-height: 200%; text-decoration: none ;}

.titlestyle52021{ font-size: 9pt; color: #222222; line-height: 200%; text-decoration: none ;}

.titlestyle50471{ font-size: 9pt; color: #222222; text-decoration: none ;}

