.titlestyle38128{ font-size: 9pt; color: #222222; text-decoration: none ;}

.erjifontover38129{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont38129{ color: #222222; font-size: 9pt ;}
.yijibackground38129{ background-image: url(images/ksdhbj.jpg); width: 199px; background-repeat: no-repeat; height: 30px ;}
.erjibackground38129{ background-color: #eff8fe ;}
.currentfontStyle38129{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle38129{ line-height: 180%; padding-left: 25px; font-family: Arial; color: #222222; font-size: 10pt; font-weight: bold ;}
.yijifontover38129{ line-height: 180%; padding-left: 25px; font-family: Arial; color: #cc0000; font-size: 10pt; font-weight: bold ;}
.erjibackgroundover38129{ background-color: #e8f0fb ;}
.yijibackgroundover38129{ background-image: url(images/ksdhbj.jpg); width: 199px; background-repeat: no-repeat; height: 30px ;}
.ejfontstyle38129{ font-size: 9pt; color: #222222; line-height: 160% ;}

.leaderfont50649{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle50649{ border-right: #878787 1px solid; border-top: #878787 1px solid; padding-left: 18px; font-size: 10pt; background-image: url(system/resource/images/research/seach_bg.gif); border-left: #878787 1px solid; color: #222222; padding-top: 3px; border-bottom: #878787 1px solid; background-repeat: no-repeat; font-family: 宋体; position: relative ;}

.morestyle50644{ font-size: 9pt ;}
.clickstyle50644{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50644{ font-size: 9pt; line-height: 150% ;}
.titlestyle50644{ line-height: 150%;  font-family: 宋体;font-size: 10pt ;}
.columnstyle50644{ font-size: 9pt; color: #205183; text-decoration: none ;}
.timestyle50644{ font-size: 9pt; color: #000000; line-height: 150%;}
A.c50644 {
line-height: 150%;  font-family: 宋体;font-size: 10pt 
;}
A.c50644:link {
color:#000000;}
A.c50644:visited {
color:#000000;}
A.c50644:active {
color: #3C72C4;}
A.c50644:hover {
color: #cc0000;}
.winstyle50645{ font-size: 11pt ;}
.contentstyle50645{ line-height: 2 ;}

.winstyle50646{ font-size: 11pt ;}
.contentstyle50646{ line-height: 2 ;}

.leaderstyle50745{ font-size: 9pt; color: #222222 ;}
.morestyle50745{ font-size: 9pt ;}
.linkstyle50745{ font-family: 宋体; color: #222222; font-size: 11pt ;}
.jumpstyle50745{ font-size: 9pt; font-family: 宋体 ;}
.winstyle50745{ background-color: #d5d5d5 ;}
A.c50745 {
font-family: 宋体; color: #222222; font-size: 11pt 
;}
A.c50745:link {
color:;}
A.c50745:visited {
color:;}
A.c50745:active {
color: ;}
A.c50745:hover {
color: ;}
