.splitcharstyle1581{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font1581{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.leaderstyle39706{ font-size: 9pt ;}
.linkstyle39706{ font-size: 9pt; color: #222222; text-decoration: none ;}
A.c39706 {
font-size: 9pt; color: #222222; text-decoration: none 
;}
A.c39706:link {
color:;}
A.c39706:visited {
color:;}
A.c39706:active {
color: ;}
A.c39706:hover {
color: ;}
.titlestyle39707{ font-size: 9pt; color: #222222; text-decoration: none ;}

.erjifontover1507{ line-height: 180%; color: #ffffff; font-size: 9pt ;}
.leaderfont1507{ color: #ffffff; font-size: 9pt ;}
.yijibackground1507{ position: relative; height: 35px ;}
.erjibackground1507{ border-bottom: #25a506 1px solid; background-color: #e5fddf; border-right: #25a506 1px solid ;}
.currentfontStyle1507{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle1507{ color: #ffffff; font-size: 10pt; font-weight: bold ;}
.yijifontover1507{ color: #003300; font-size: 10pt; font-weight: bold ;}
.erjibackgroundover1507{ border-bottom: #ffffff 1px solid; background-color: #34aa34; border-right: #ffffff 1px solid ;}
.ejfontstyle1507{ position: relative; line-height: 180%; height: 18px; color: #222222; font-size: 9pt ;}

.font1508{ font-size: 9pt ;}
.fontstyle1508{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.summarystyle1510{ line-height: 150%; text-indent: 24px; color: #222222; font-size: 9pt ;}
.titlestyle1510{ position: relative; line-height: 220%; background-color: #e6e6e6; width: 240px; height: 20px; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}

.titlestyle50408{ font-size: 9pt; color: #222222; text-decoration: none ;}

.morestyle50491{ font-size: 9pt ;}
.clickstyle50491{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50491{ font-size: 9pt; line-height: 150% ;}
.titlestyle50491{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle50491{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50491{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50491 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c50491:link {
color:#222222;}
A.c50491:visited {
color:#222222;}
A.c50491:active {
color: #222222;}
A.c50491:hover {
color: #cc0000;}
.morestyle1518{ font-size: 9pt ;}
.clickstyle1518{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont1518{ font-size: 9pt; line-height: 150% ;}
.titlestyle1518{ line-height: 210%; font-size: 9pt; text-decoration: none ;}
.columnstyle1518{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle1518{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c1518 {
line-height: 210%; font-size: 9pt; text-decoration: none 
;}
A.c1518:link {
color:#222222;}
A.c1518:visited {
color:#222222;}
A.c1518:active {
color: #222222;}
A.c1518:hover {
color: #cc0000;}
.morestyle1519{ font-size: 9pt ;}
.clickstyle1519{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont1519{ font-size: 9pt; line-height: 150% ;}
.titlestyle1519{ line-height: 210%; font-size: 9pt; text-decoration: none ;}
.columnstyle1519{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle1519{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c1519 {
line-height: 210%; font-size: 9pt; text-decoration: none 
;}
A.c1519:link {
color:#222222;}
A.c1519:visited {
color:#222222;}
A.c1519:active {
color: #222222;}
A.c1519:hover {
color: #cc0000;}
.querystyle50409{ border-bottom: #34c101 1px solid; position: relative; border-left: #34c101 1px solid; background-repeat: no-repeat; font-family: 宋体; height: 22px; color: #222222; margin-left: 20px; font-size: 10pt; border-top: #34c101 1px solid; border-right: #34c101 1px solid ;}

.morestyle50492{ font-size: 9pt ;}
.clickstyle50492{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50492{ font-size: 9pt; line-height: 150% ;}
.titlestyle50492{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle50492{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50492{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50492 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c50492:link {
color:#222222;}
A.c50492:visited {
color:#222222;}
A.c50492:active {
color: #222222;}
A.c50492:hover {
color: #cc0000;}
.leaderstyle50419{ font-size: 9pt; color: #222222 ;}
.morestyle50419{ font-size: 9pt ;}
.linkstyle50419{ font-size: 9pt; color: #222222; text-decoration: none ;}
.jumpstyle50419{ font-size: 9pt; font-family: 宋体 ;}
A.c50419 {
font-size: 9pt; color: #222222; text-decoration: none 
;}
A.c50419:link {
color:;}
A.c50419:visited {
color:;}
A.c50419:active {
color: ;}
A.c50419:hover {
color: ;}
