.erjifontover39783{ font-size: 11pt; height: 26px; font-family: 宋体; font-weight: bold; color: #ffffff; text-align: center; padding-top: 10px; line-height: 180% ;}
.yijibackground39783{ width: 163px ;}
.erjibackground39783{ width: 163px; text-align: center; background-color: #0a356f ;}
.currentfontStyle39783{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle39783{ font-size: 11pt; text-decoration: none; font-family: 宋体; font-weight: bold; color: #ffffff; text-align: center; padding-top: 10px; line-height: 180% ;}
.yijifontover39783{ font-size: 11pt; text-decoration: none; font-weight: bold; color: #ffffff; text-align: center; line-height: 180% ;}
.erjibackgroundover39783{ text-align: center; background-color: #2687eb ;}
.ejfontstyle39783{ font-size: 11pt; height: 26px; font-family: 宋体; font-weight: bold; color: #ffffff; text-align: center; padding-top: 10px; line-height: 180% ;}

.titlestyle39784{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle39784{ line-height: 150%; color: #222222; font-size: 9pt ;}

.morestyle39785{ font-size: 9pt ;}
.clickstyle39785{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont39785{ font-size: 9pt; color: #981d32; line-height: 150% ;}
.titlestyle39785{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle39785{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle39785{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c39785 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c39785:link {
color:#222222;}
A.c39785:visited {
color:#222222;}
A.c39785:active {
color: #222222;}
A.c39785:hover {
color: #cc0000;}
.morestyle39786{ font-size: 9pt ;}
.clickstyle39786{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont39786{ font-size: 9pt; color: #981d32; line-height: 150% ;}
.titlestyle39786{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle39786{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle39786{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c39786 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c39786:link {
color:#222222;}
A.c39786:visited {
color:#222222;}
A.c39786:active {
color: #222222;}
A.c39786:hover {
color: #cc0000;}
.titlestyle51654{ font-size: 9pt; color: #222222; line-height: 200%; text-decoration: none ;}

.leaderstyle51662{ font-size: 9pt; color: #222222 ;}
.morestyle51662{ font-size: 9pt ;}
.linkstyle51662{ font-size: 9pt; text-decoration: none; color: #222222 ;}
.jumpstyle51662{ font-size: 9pt; font-family: 宋体 ;}
A.c51662 {
font-size: 9pt; text-decoration: none; color: #222222 
;}
A.c51662:link {
color:;}
A.c51662:visited {
color:;}
A.c51662:active {
color: ;}
A.c51662:hover {
color: ;}
.titlestyle39789{ font-size: 9pt; color: #222222; line-height: 200%; text-decoration: none ;}

.titlestyle51661{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51660{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51659{ font-size: 9pt; color: #222222; text-decoration: none ;}

.leaderstyle51657{ font-size: 9pt; color: #222222 ;}
.morestyle51657{ font-size: 9pt ;}
.linkstyle51657{ font-size: 9pt; text-decoration: none; color: #222222; text-height: 30px ;}
.jumpstyle51657{ font-size: 9pt; font-family: 宋体 ;}
A.c51657 {
font-size: 9pt; text-decoration: none; color: #222222; text-height: 30px 
;}
A.c51657:link {
color:;}
A.c51657:visited {
color:;}
A.c51657:active {
color: ;}
A.c51657:hover {
color: ;}
