.splitcharstyle50342{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font50342{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.leaderfont50344{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle50344{ border-bottom: #d52b2b 1px solid; position: relative; border-left: #d52b2b 1px solid; padding-left: 3px; background-repeat: no-repeat; font-family: 宋体; height: 16px; color: #222222; font-size: 10pt; border-top: #d52b2b 1px solid; border-right: #d52b2b 1px solid; padding-top: 6px ;}

.erjifontover50345{ font-size: 9pt; color: #000000; line-height: 160% ;}
.leaderfont50345{ font-family: 宋体; color: #ffffff; font-size: 11pt ;}
.erjibackground50345{ background-color: #eff8fe ;}
.currentfontStyle50345{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle50345{ font-family: 宋体; color: #ffffff; font-size: 11pt; font-weight: bold ;}
.yijifontover50345{ font-family: 宋体; color: #000000; font-size: 11pt; font-weight: bold ;}
.erjibackgroundover50345{ background-color: #e8f0fb ;}
.ejfontstyle50345{ font-size: 9pt; color: #222222; line-height: 160% ;}

.leaderstyle37955{ font-size: 9pt; color: #222222 ;}
.morestyle37955{ font-size: 9pt ;}
.linkstyle37955{ font-family: 宋体; color: #ffffff; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.jumpstyle37955{ font-size: 9pt; font-family: 宋体 ;}
A.c37955 {
font-family: 宋体; color: #ffffff; font-size: 11pt; font-weight: bold; text-decoration: none 
;}
A.c37955:link {
color:;}
A.c37955:visited {
color:;}
A.c37955:active {
color: ;}
A.c37955:hover {
color: ;}
.titlestyle1147{ line-height: 200%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle1147{ line-height: 150%; color: #222222; font-size: 9pt ;}

.titlestyle1148{ font-size: 9pt; color: #222222; text-decoration: none ;}

.morestyle1150{ font-size: 9pt ;}
.clickstyle1150{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont1150{ font-size: 9pt; line-height: 150% ;}
.titlestyle1150{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle1150{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle1150{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c1150 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c1150:link {
color:#222222;}
A.c1150:visited {
color:#222222;}
A.c1150:active {
color: #222222;}
A.c1150:hover {
color: #cc0000;}
.titlestyle50733{ font-size: 9pt; color: #222222; line-height: 200%; text-decoration: none ;}
.winstyle50733{ background-image: url(ad33.png); padding-top: 5px ;}

.morestyle1152{ font-size: 9pt ;}
.clickstyle1152{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont1152{ font-size: 9pt; line-height: 150% ;}
.titlestyle1152{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle1152{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle1152{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c1152 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c1152:link {
color:#222222;}
A.c1152:visited {
color:#222222;}
A.c1152:active {
color: #222222;}
A.c1152:hover {
color: #cc0000;}
.morestyle1151{ font-size: 9pt ;}
.clickstyle1151{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont1151{ font-size: 9pt; line-height: 150% ;}
.titlestyle1151{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle1151{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle1151{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c1151 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c1151:link {
color:#222222;}
A.c1151:visited {
color:#222222;}
A.c1151:active {
color: #222222;}
A.c1151:hover {
color: #cc0000;}
.morestyle50462{ font-size: 9pt ;}
.clickstyle50462{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50462{ font-size: 9pt; line-height: 150% ;}
.titlestyle50462{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle50462{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50462{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50462 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c50462:link {
color:#222222;}
A.c50462:visited {
color:#222222;}
A.c50462:active {
color: #222222;}
A.c50462:hover {
color: #cc0000;}
.morestyle50463{ font-size: 9pt ;}
.clickstyle50463{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50463{ font-size: 9pt; line-height: 150% ;}
.titlestyle50463{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle50463{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50463{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50463 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c50463:link {
color:#222222;}
A.c50463:visited {
color:#222222;}
A.c50463:active {
color: #222222;}
A.c50463:hover {
color: #cc0000;}
.leaderstyle50374{ font-size: 10pt; color: #222222 ;}
.morestyle50374{ font-size: 9pt; color: #000000 ;}
.linkstyle50374{ font-size: 9pt; color: #cccccc ;}
.jumpstyle50374{ font-size: 9pt; font-family: 宋体 ;}
.winstyle50374{ position: relative; height: 75px ;}
A.c50374 {
font-size: 9pt; color: #cccccc 
;}
A.c50374:link {
color:;}
A.c50374:visited {
color:;}
A.c50374:active {
color: ;}
A.c50374:hover {
color: ;}
