.fontstyle49652{ font-family: 宋体; color: #cc0000; font-size: 10pt; font-weight: bold ;}
.winstyle49652{ line-height: 38px; margin-top: -2px; height: 38px ;}

.clickstyle49683{ font-size: 9pt ;}
.titlestyle49683{ line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none ;}
.columnstyle49683{ font-size: 9pt ;}
.timestyle49683{ font-size: 9pt; line-height: 150% ;}
A.c49683 {
line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none 
;}
A.c49683:link {
color:#222222;}
A.c49683:visited {
color:;}
A.c49683:active {
color: ;}
A.c49683:hover {
color: #cc0000;}
.clickstyle49685{ font-size: 9pt ;}
.titlestyle49685{ line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none ;}
.columnstyle49685{ font-size: 9pt ;}
.timestyle49685{ font-size: 9pt; line-height: 150% ;}
A.c49685 {
line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none 
;}
A.c49685:link {
color:#222222;}
A.c49685:visited {
color:;}
A.c49685:active {
color: ;}
A.c49685:hover {
color: #cc0000;}
.clickstyle49686{ font-size: 9pt ;}
.titlestyle49686{ line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none ;}
.columnstyle49686{ font-size: 9pt ;}
.timestyle49686{ font-size: 9pt; line-height: 150% ;}
A.c49686 {
line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none 
;}
A.c49686:link {
color:#222222;}
A.c49686:visited {
color:;}
A.c49686:active {
color: ;}
A.c49686:hover {
color: #cc0000;}
.clickstyle49687{ font-size: 9pt ;}
.titlestyle49687{ line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none ;}
.columnstyle49687{ font-size: 9pt ;}
.timestyle49687{ font-size: 9pt; line-height: 150% ;}
A.c49687 {
line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none 
;}
A.c49687:link {
color:#222222;}
A.c49687:visited {
color:;}
A.c49687:active {
color: ;}
A.c49687:hover {
color: #cc0000;}
.clickstyle49688{ font-size: 9pt ;}
.titlestyle49688{ line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none ;}
.columnstyle49688{ font-size: 9pt ;}
.timestyle49688{ font-size: 9pt; line-height: 150% ;}
A.c49688 {
line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none 
;}
A.c49688:link {
color:#222222;}
A.c49688:visited {
color:;}
A.c49688:active {
color: ;}
A.c49688:hover {
color: #cc0000;}
.clickstyle49689{ font-size: 9pt ;}
.titlestyle49689{ line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none ;}
.columnstyle49689{ font-size: 9pt ;}
.timestyle49689{ font-size: 9pt; line-height: 150% ;}
A.c49689 {
line-height: 24px; height: 24px; font-size: 9pt; text-decoration: none 
;}
A.c49689:link {
color:#222222;}
A.c49689:visited {
color:;}
A.c49689:active {
color: ;}
A.c49689:hover {
color: #cc0000;}
.titlestyle49653{ font-family: 宋体; color: #676767; font-size: 9pt ;}

