.splitcharstyle50985{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font50985{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}

.font50986{ font-size: 9pt ;}
.fontstyle50986{ font-family: 宋体; color: #ffffff; font-size: 9pt ;}

.erjifontover50987{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont50987{ color: #ffffff; font-size: 9pt ;}
.erjibackground50987{ background-color: #eff8fe ;}
.fontstyle50987{ color: #ffffff; font-size: 10pt; font-weight: bold ;}
.yijifontover50987{ color: #ffffff; font-size: 10pt; font-weight: bold ;}
.erjibackgroundover50987{ background-color: #e8f0fb ;}
.yijibackgroundover50987{ background-image: url(images/dh_bg.gif); background-repeat: no-repeat ;}
.ejfontstyle50987{ color: #111111; font-size: 10pt; font-weight: bold ;}

.titlestyle50977{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51081{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle51081{ line-height: 150%; color: #222222; font-size: 9pt ;}

.morestyle50980{ font-size: 9pt ;}
.clickstyle50980{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50980{ font-size: 9pt; line-height: 150% ;}
.titlestyle50980{ line-height: 180%; font-size: 9pt; text-decoration: none ;}
.columnstyle50980{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50980{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50980 {
line-height: 180%; font-size: 9pt; text-decoration: none 
;}
A.c50980:link {
color:#222222;}
A.c50980:visited {
color:#222222;}
A.c50980:active {
color: #222222;}
A.c50980:hover {
color: #cc0000;}
.morestyle50988{ font-size: 9pt ;}
.clickstyle50988{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50988{ font-size: 9pt; line-height: 150% ;}
.titlestyle50988{ line-height: 180%; font-size: 9pt; text-decoration: none ;}
.columnstyle50988{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50988{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50988 {
line-height: 180%; font-size: 9pt; text-decoration: none 
;}
A.c50988:link {
color:#222222;}
A.c50988:visited {
color:#222222;}
A.c50988:active {
color: #222222;}
A.c50988:hover {
color: #cc0000;}
.winstyle51069{ font-size: 9pt ;}

.morestyle50989{ font-size: 9pt ;}
.clickstyle50989{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50989{ font-size: 9pt; line-height: 150% ;}
.titlestyle50989{ font-family: 宋体; font-size: 9pt ;}
.columnstyle50989{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50989{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50989 {
font-family: 宋体; font-size: 9pt 
;}
A.c50989:link {
color:#222222;}
A.c50989:visited {
color:#222222;}
A.c50989:active {
color: #222222;}
A.c50989:hover {
color: #cc0000;}
.selectstyle51071{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle51071{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

