.erjifontover51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}
.leaderfont51712{ font-size: 9pt; color: #ffffff ;}
.erjibackground51712{ background-color: #ebf7e4 ;}
.fontstyle51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.yijifontover51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.erjibackgroundover51712{ background-color: #5ea332 ;}
.ejfontstyle51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}

.fontstyle51797{ font-size: 10pt; font-family: 宋体; color: #222 ;}

.titlestyle51702{ font-size: 9pt; text-decoration: none; font-weight: bold; color: #222222; letter-spacing: 1px; line-height: 220% ;}
.summarystyle51702{ line-height: 150%; color: #222222; font-size: 9pt ;}

.morestyle51705{ font-size: 9pt ;}
.clickstyle51705{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont51705{ font-size: 9pt; line-height: 150% ;}
.titlestyle51705{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle51705{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle51705{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c51705 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c51705:link {
color:#222222;}
A.c51705:visited {
color:#222222;}
A.c51705:active {
color: #222222;}
A.c51705:hover {
color: #cc0000;}
.morestyle51798{ font-size: 9pt ;}
.clickstyle51798{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont51798{ font-size: 9pt; line-height: 150% ;}
.titlestyle51798{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle51798{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle51798{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c51798 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c51798:link {
color:#222222;}
A.c51798:visited {
color:#222222;}
A.c51798:active {
color: #222222;}
A.c51798:hover {
color: #cc0000;}
.titlestyle51774{ font-size: 9pt; text-decoration: none; color: #003a1c; letter-spacing: 1px ;}

.leaderstyle51772{ font-size: 9pt; color: #222222 ;}
.morestyle51772{ font-size: 9pt ;}
.linkstyle51772{ font-size: 14px; font-family: 宋体; font-weight: bold; color: #046103; letter-spacing: 1px; line-height: 160% ;}
.jumpstyle51772{ font-size: 9pt; font-family: 宋体 ;}
A.c51772 {
font-size: 14px; font-family: 宋体; font-weight: bold; color: #046103; letter-spacing: 1px; line-height: 160% 
;}
A.c51772:link {
color:;}
A.c51772:visited {
color:;}
A.c51772:active {
color: ;}
A.c51772:hover {
color: ;}
