.erjifontover37946{ line-height: 160%; color: #cc0000; font-size: 12px ;}
.leaderfont37946{ letter-spacing: 1px; color: #ffffff; font-size: 13px ;}
.erjibackground37946{ background-color: #eff8fe ;}
.currentfontStyle37946{ color: #cc0000; font-size: 13px ;}
.fontstyle37946{ color: #ffffff; font-size: 13px; text-decoration: none ;}
.yijifontover37946{ color: #ee1111; font-size: 13px; text-decoration: none ;}
.erjibackgroundover37946{ background-color: #e8f0fb ;}
.ejfontstyle37946{ font-size: 9pt; color: #222222; line-height: 160% ;}

.timestyle37948{ font-size: 9pt ;}
.leaderfont37948{ font-size: 9pt; color: #222222; line-height: 150% ;}
.titlestyle37948{ line-height: 180%; color: #666666; font-size: 9pt ;}
.morestyle37948{ font-size: 9pt ;}

.winstyle52171{ font-size: 9pt ;}

