.splitcharstyle50587{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font50587{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.leaderfont50589{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle50589{ border-bottom: #d52b2b 1px solid; position: relative; border-left: #d52b2b 1px solid; padding-left: 3px; background-repeat: no-repeat; font-family: 宋体; height: 16px; color: #222222; font-size: 10pt; border-top: #d52b2b 1px solid; border-right: #d52b2b 1px solid; padding-top: 6px ;}

.erjifontover50590{ text-align: center; font-family: 宋体; color: #ffffff; font-size: 9pt ;}
.leaderfont50590{ font-family: 宋体; color: #ffffff; font-size: 11pt ;}
.erjibackground50590{ border-bottom: #ffffff 1px solid; position: relative; text-align: center; background-color: #4996ca; width: 110px; font-family: 宋体; height: 26px; color: #ffffff; font-size: 10pt; top: 10px; font-weight: bold ;}
.currentfontStyle50590{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle50590{ font-family: 宋体; color: #ffffff; font-size: 11pt; font-weight: bold ;}
.yijifontover50590{ font-family: 宋体; color: #000000; font-size: 11pt; font-weight: bold ;}
.erjibackgroundover50590{ border-bottom: #ffffff 1px solid; position: relative; text-align: center; background-color: #b1751b; width: 110px; font-family: 宋体; height: 26px; color: #ffffff; font-size: 10pt; top: 10px; font-weight: bold ;}
.ejfontstyle50590{ text-align: center; font-family: 宋体; color: #ffffff; font-size: 9pt ;}

.titlestyle50747{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle50572{ line-height: 200%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle50572{ line-height: 150%; color: #222222; font-size: 9pt ;}

.morestyle50735{ font-size: 9pt ;}
.clickstyle50735{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50735{ font-size: 9pt; line-height: 150% ;}
.titlestyle50735{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle50735{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50735{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50735 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c50735:link {
color:#222222;}
A.c50735:visited {
color:#222222;}
A.c50735:active {
color: #222222;}
A.c50735:hover {
color: #cc0000;}
.titlestyle50591{ font-size: 9pt; color: #222222; text-decoration: none ;}

.morestyle50574{ font-size: 9pt ;}
.clickstyle50574{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50574{ font-size: 9pt; line-height: 150% ;}
.titlestyle50574{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle50574{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50574{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50574 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c50574:link {
color:#222222;}
A.c50574:visited {
color:#222222;}
A.c50574:active {
color: #222222;}
A.c50574:hover {
color: #cc0000;}
.morestyle50575{ font-size: 9pt ;}
.clickstyle50575{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50575{ font-size: 9pt; line-height: 150% ;}
.titlestyle50575{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle50575{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50575{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50575 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c50575:link {
color:#222222;}
A.c50575:visited {
color:#222222;}
A.c50575:active {
color: #222222;}
A.c50575:hover {
color: #cc0000;}
.morestyle50576{ font-size: 9pt ;}
.clickstyle50576{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50576{ font-size: 9pt; line-height: 150% ;}
.titlestyle50576{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle50576{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50576{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50576 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c50576:link {
color:#222222;}
A.c50576:visited {
color:#222222;}
A.c50576:active {
color: #222222;}
A.c50576:hover {
color: #cc0000;}
.morestyle50577{ font-size: 9pt ;}
.clickstyle50577{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50577{ font-size: 9pt; line-height: 150% ;}
.titlestyle50577{ line-height: 190%; font-size: 9pt; text-decoration: none ;}
.columnstyle50577{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50577{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50577 {
line-height: 190%; font-size: 9pt; text-decoration: none 
;}
A.c50577:link {
color:#222222;}
A.c50577:visited {
color:#222222;}
A.c50577:active {
color: #222222;}
A.c50577:hover {
color: #cc0000;}
.leaderstyle50744{ font-size: 10pt; color: #222222 ;}
.morestyle50744{ font-size: 9pt ;}
.linkstyle50744{ font-size: 9pt; color: #cccccc ;}
.jumpstyle50744{ font-size: 9pt; font-family: 宋体 ;}
.winstyle50744{ position: relative; height: 75px ;}
A.c50744 {
font-size: 9pt; color: #cccccc 
;}
A.c50744:link {
color:;}
A.c50744:visited {
color:;}
A.c50744:active {
color: ;}
A.c50744:hover {
color: ;}
