.erjifontover39645{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont39645{ color: #222222; font-size: 9pt ;}
.erjibackground39645{ background-color: #eff8fe ;}
.currentfontStyle39645{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle39645{ color: #222222; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.yijifontover39645{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover39645{ background-color: #e8f0fb ;}
.ejfontstyle39645{ font-size: 9pt; color: #222222; line-height: 160% ;}

.selectstyle49588{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle49588{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.morestyle49604{ font-size: 9pt ;}
.clickstyle49604{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont49604{ font-size: 9pt; line-height: 150% ;}
.titlestyle49604{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle49604{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle49604{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c49604 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c49604:link {
color:#222222;}
A.c49604:visited {
color:#222222;}
A.c49604:active {
color: #222222;}
A.c49604:hover {
color: #cc0000;}
.morestyle49605{ font-size: 9pt ;}
.clickstyle49605{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont49605{ font-size: 9pt; line-height: 150% ;}
.titlestyle49605{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle49605{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle49605{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c49605 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c49605:link {
color:#222222;}
A.c49605:visited {
color:#222222;}
A.c49605:active {
color: #222222;}
A.c49605:hover {
color: #cc0000;}
.morestyle49600{ font-size: 9pt ;}
.clickstyle49600{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont49600{ font-size: 9pt; line-height: 150% ;}
.titlestyle49600{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle49600{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle49600{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c49600 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c49600:link {
color:#222222;}
A.c49600:visited {
color:#222222;}
A.c49600:active {
color: #222222;}
A.c49600:hover {
color: #cc0000;}
.morestyle49601{ font-size: 9pt ;}
.clickstyle49601{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont49601{ font-size: 9pt; line-height: 150% ;}
.titlestyle49601{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle49601{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle49601{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c49601 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c49601:link {
color:#222222;}
A.c49601:visited {
color:#222222;}
A.c49601:active {
color: #222222;}
A.c49601:hover {
color: #cc0000;}
.morestyle49602{ font-size: 9pt ;}
.clickstyle49602{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont49602{ font-size: 9pt; line-height: 150% ;}
.titlestyle49602{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle49602{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle49602{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c49602 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c49602:link {
color:#222222;}
A.c49602:visited {
color:#222222;}
A.c49602:active {
color: #222222;}
A.c49602:hover {
color: #cc0000;}
.morestyle49603{ font-size: 9pt ;}
.clickstyle49603{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont49603{ font-size: 9pt; line-height: 150% ;}
.titlestyle49603{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle49603{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle49603{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c49603 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c49603:link {
color:#222222;}
A.c49603:visited {
color:#222222;}
A.c49603:active {
color: #222222;}
A.c49603:hover {
color: #cc0000;}
