.timestyle37908{ font-size: 9pt ;}
.mtitlestyle37908{ line-height: 25px; color: #cc0000; font-size: 9pt ;}
.leaderfont37908{ font-size: 9pt ;}
.titlestyle37908{ color: #222222; font-size: 9pt; text-decoration: none ;}

.btextstyle49257{ font-size: 10pt; font-family: 楷体_GB2312; color:  ;}

.splitcharstyle37909{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font37909{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.erjifontover37910{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont37910{ color: #222222; font-size: 9pt ;}
.erjibackground37910{ background-color: #eff8fe ;}
.currentfontStyle37910{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle37910{ color: #ffffff; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.yijifontover37910{ color: #ffffff; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover37910{ background-color: #e8f0fb ;}
.ejfontstyle37910{ font-size: 9pt; color: #222222; line-height: 160% ;}

.titlestyle37918{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.summarystyle37918{ line-height: 150%; color: #222222; font-size: 9pt ;}

.morestyle50653{ font-size: 9pt ;}
.leaderfont50653{ font-size: 9pt; color: #222222; line-height: 150% ;}
.titlestyle50653{ font-size: 9pt; color: #222222; line-height: 150%; text-decoration: none ;}
.timestyle50653{ font-size: 9pt ;}

.morestyle50561{ font-size: 9pt ;}
.clickstyle50561{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50561{ font-size: 9pt; line-height: 150% ;}
.titlestyle50561{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle50561{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50561{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50561 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c50561:link {
color:#222222;}
A.c50561:visited {
color:#222222;}
A.c50561:active {
color: #222222;}
A.c50561:hover {
color: #cc0000;}
.morestyle50562{ font-size: 9pt ;}
.leaderfont50562{ font-size: 9pt; color: #222222; line-height: 150% ;}
.titlestyle50562{ font-size: 9pt; color: #222222; line-height: 150%; text-decoration: none ;}
.timestyle50562{ font-size: 9pt ;}

.morestyle37925{ font-size: 9pt ;}
.clickstyle37925{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont37925{ font-size: 9pt; line-height: 150% ;}
.titlestyle37925{ line-height: 22px; font-size: 12px; text-decoration: none ;}
.columnstyle37925{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle37925{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c37925 {
line-height: 22px; font-size: 12px; text-decoration: none 
;}
A.c37925:link {
color:#222222;}
A.c37925:visited {
color:#222222;}
A.c37925:active {
color: #222222;}
A.c37925:hover {
color: #cc0000;}
.morestyle50497{ font-size: 9pt ;}
.clickstyle50497{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50497{ font-size: 9pt; line-height: 150% ;}
.titlestyle50497{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle50497{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50497{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50497 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c50497:link {
color:#222222;}
A.c50497:visited {
color:#222222;}
A.c50497:active {
color: #222222;}
A.c50497:hover {
color: #cc0000;}
