.splitcharstyle52149{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font52149{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.erjifontover52138{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont52138{ color: #222222; font-size: 9pt ;}
.erjibackground52138{ background-color: #eff8fe ;}
.currentfontStyle52138{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle52138{ font-size: 12pt; text-decoration: none; font-family: 宋体; font-weight: bold; color: #ffffff; padding-left: 15px; padding-right: 15px ;}
.yijifontover52138{ font-size: 12pt; text-decoration: none; font-family: 宋体; font-weight: bold; color: #8f181e; padding-left: 15px; padding-right: 15px ;}
.erjibackgroundover52138{ background-color: #e8f0fb ;}
.ejfontstyle52138{ font-size: 9pt; color: #222222; line-height: 160% ;}

.titlestyle52154{ font-size: 9pt; color: #222222; text-decoration: none ;}

.summarystyle18082{ line-height: 150%; color: #222222; font-size: 9pt ;}
.titlestyle18082{ line-height: 220%; color: #222222; font-size: 9pt; font-weight: bold; text-decoration: none ;}

.morestyle52151{ font-size: 9pt ;}
.clickstyle52151{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont52151{ font-size: 9pt; line-height: 150% ;}
.titlestyle52151{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle52151{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle52151{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c52151 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c52151:link {
color:#222222;}
A.c52151:visited {
color:#222222;}
A.c52151:active {
color: #222222;}
A.c52151:hover {
color: #cc0000;}
.morestyle52144{ font-size: 9pt ;}
.clickstyle52144{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont52144{ font-size: 9pt; line-height: 150% ;}
.titlestyle52144{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle52144{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle52144{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c52144 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c52144:link {
color:#222222;}
A.c52144:visited {
color:#222222;}
A.c52144:active {
color: #222222;}
A.c52144:hover {
color: #cc0000;}
.morestyle52146{ font-size: 9pt ;}
.clickstyle52146{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont52146{ font-size: 9pt; line-height: 150% ;}
.titlestyle52146{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle52146{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle52146{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c52146 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c52146:link {
color:#222222;}
A.c52146:visited {
color:#222222;}
A.c52146:active {
color: #222222;}
A.c52146:hover {
color: #cc0000;}
.leaderstyle52153{ font-size: 9pt ;}
.linkstyle52153{ font-size: 9pt; text-decoration: none; font-family: 宋体; font-weight: normal; color: #222222; padding-bottom: 20px; padding-top: 20px; padding-left: 18px; padding-right: 18px ;}
A.c52153 {
font-size: 9pt; text-decoration: none; font-family: 宋体; font-weight: normal; color: #222222; padding-bottom: 20px; padding-top: 20px; padding-left: 18px; padding-right: 18px 
;}
A.c52153:link {
color:;}
A.c52153:visited {
color:;}
A.c52153:active {
color: ;}
A.c52153:hover {
color: ;}
