.erjifontover37702{ font-size: 11pt; text-decoration: none; font-weight: bold; color: #33ffff; padding-left: 3px; letter-spacing: 2px; line-height: 32px; padding-right: 3px ;}
.erjibackground37702{ background-color: #0a356f ;}
.currentfontStyle37702{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle37702{ line-height: 32px; padding-left: 3px; padding-right: 3px; letter-spacing: 2px; color: #ffffff; margin-left: 2px; font-size: 11pt; font-weight: bold; margin-right: 2px; text-decoration: none ;}
.yijifontover37702{ line-height: 32px; padding-left: 3px; padding-right: 3px; letter-spacing: 2px; color: #33ffff; margin-left: 2px; font-size: 11pt; font-weight: bold; margin-right: 2px; text-decoration: none ;}
.erjibackgroundover37702{ background-color: #0a356f ;}
.ejfontstyle37702{ font-size: 11pt; text-decoration: none; font-weight: bold; color: #ffffff; padding-left: 3px; letter-spacing: 2px; line-height: 32px; padding-right: 3px ;}

.titlestyle51616{ font-size: 9pt; color: #222222; text-decoration: none ;}

.closestyle52187{ color: #cc0000 ;}

.morestyle51617{ font-size: 9pt ;}
.clickstyle51617{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont51617{ font-size: 9pt; line-height: 150% ;}
.titlestyle51617{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle51617{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle51617{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c51617 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c51617:link {
color:#222222;}
A.c51617:visited {
color:#222222;}
A.c51617:active {
color: #222222;}
A.c51617:hover {
color: #cc0000;}
.morestyle51618{ font-size: 9pt ;}
.clickstyle51618{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont51618{ font-size: 9pt; line-height: 150% ;}
.titlestyle51618{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle51618{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle51618{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c51618 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c51618:link {
color:#222222;}
A.c51618:visited {
color:#222222;}
A.c51618:active {
color: #222222;}
A.c51618:hover {
color: #cc0000;}
.morestyle51619{ font-size: 9pt ;}
.clickstyle51619{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont51619{ font-size: 9pt; line-height: 150% ;}
.titlestyle51619{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle51619{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle51619{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c51619 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c51619:link {
color:#222222;}
A.c51619:visited {
color:#222222;}
A.c51619:active {
color: #222222;}
A.c51619:hover {
color: #cc0000;}
.titlestyle51621{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51623{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51624{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51625{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51626{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle51627{ font-size: 9pt; color: #222222; text-decoration: none ;}

.btextstyle51632{ font-size: 14px; font-weight: bold; color: #666666; padding-right: 2px ;}

