.clickstyle52265{ font-size: 9pt ;}
.leaderfont52265{ font-size: 9pt; color: #222222; line-height: 150%; text-decoration: none ;}
.titlestyle52265{ font-size: 12px; margin-left: -5px; line-height: 21px; padding-left: 5px;}
.columnstyle52265{ font-size: 9pt ;}
.timestyle52265{ font-size: 9pt; line-height: 150% ;}
A.c52265 {
font-size: 12px; margin-left: -5px; line-height: 21px; padding-left: 5px;}
A.c52265:link {
color:#222222;}
A.c52265:visited {
color:;}
A.c52265:active {
color: ;}
A.c52265:hover {
color: #cc0000;}
