.erjifontover51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}
.leaderfont51712{ font-size: 9pt; color: #ffffff ;}
.erjibackground51712{ background-color: #ebf7e4 ;}
.fontstyle51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.yijifontover51712{ font-size: 11pt; font-weight: bold; color: #ffffff; letter-spacing: 1px ;}
.erjibackgroundover51712{ background-color: #5ea332 ;}
.ejfontstyle51712{ font-size: 11pt; height: 26px; width: 120px; font-weight: bold; color: #1a761a; text-align: center; padding-left: 30px; letter-spacing: 1px; line-height: 180%; padding-right: 30px ;}

.windowstyle51709{ font-size: 11pt; font-family: 宋体; font-weight: bold; color: #117515 ;}

.splitflagstyle51710{ color: #222222 ;}
.fontstyle51710{ font-size: 9pt; color: #222222; text-decoration: none ;}
.winstyle51710{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.clickstyle52311{ line-height: 150%; color: #222222; font-size: 9pt;}
.leaderfont52311{ line-height: 150%; color: #222222; font-size: 9pt ;}
.titlestyle52311{ font-size: 9pt; line-height: 150%; text-decoration: none ;}
.columnstyle52311{ line-height: 150%; color: #222222; font-size: 9pt; text-decoration: none ;}
.buttonstyle52311{ font-size: 9pt ;}
.timestyle52311{ line-height: 150%; color: #222222; font-size: 9pt;}
.winstyle52311{ padding: 0px;}
A.c52311 {
font-size: 9pt; line-height: 150%; text-decoration: none 
;}
A.c52311:link {
color:#222222;}
A.c52311:visited {
color:#222222;}
A.c52311:active {
color: #222222;}
A.c52311:hover {
color: #cc0000;}
