.erjifontover10025{ color: #FFFFFF; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.leaderfont10025{ color: #fff; font-size: 9pt ;}
.yijibackground10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.erjibackground10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.currentfontStyle10025{ color: #ffffff; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle10025{ color: #FFFFFF; font-size: 9pt; font-weight: bold; text-decoration: none ;}
.yijifontover10025{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.yijibackgroundover10025{ background-image: url(images/lanmubg.gif); background-repeat: no-repeat ;}
.ejfontstyle10025{ color: #FFFFFF; font-size: 9pt; font-weight: bold; text-decoration: none ;}

.windowstyle10032{ font-family: 宋体; color:#23877e;font-size: 9pt; font-weight: bold ;}

.erjifontover10033{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont10033{ color: #222222; font-size: 9pt ;}
.yijibackground10033{ background-image: url(images/listPic6.gif); padding-left: 15px; background-repeat: no-repeat; background-position-y: center ;}
.erjibackground10033{ background-color: #eff8fe ;}
.currentfontStyle10033{ color: #23877e; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle10033{ font-size: 9pt; color: #23877e; line-height: 3; font-: none ;}
.yijifontover10033{ font-size: 9pt; color: #23877e; line-height: 3; text-decoration: none ;}
.erjibackgroundover10033{ background-color: #e8f0fb ;}
.yijibackgroundover10033{ background-image: url(images/listPic6.gif); padding-left: 15px; background-repeat: no-repeat; background-position-y: center ;}
.ejfontstyle10033{ font-size: 9pt; color: #222222; line-height: 160% ;}

.morestyle10026{ font-size: 9pt ;}
.clickstyle10026{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont10026{ font-size: 9pt; line-height: 150% ;}
.titlestyle10026{ padding-left:5px;line-height: 180%; font-size: 9pt; text-decoration: none ;}
.columnstyle10026{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle10026{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c10026 {
padding-left:5px;line-height: 180%; font-size: 9pt; text-decoration: none 
;}
A.c10026:link {
color:#222222;}
A.c10026:visited {
color:#222222;}
A.c10026:active {
color: #222222;}
A.c10026:hover {
color: #cc0000;}
.windowstyle10034{ font-family: 宋体; color: #ffffff; font-size: 9pt; font-weight: bold ;}

.clickstyle52314{ line-height: 150%; color: #222222; font-size: 9pt;}
.leaderfont52314{ line-height: 150%; color: #222222; font-size: 9pt ;}
.titlestyle52314{ font-size: 9pt; line-height: 150%; text-decoration: none ;}
.columnstyle52314{ line-height: 150%; color: #222222; font-size: 9pt; text-decoration: none ;}
.buttonstyle52314{ font-size: 9pt ;}
.timestyle52314{ line-height: 150%; color: #222222; font-size: 9pt;}
.winstyle52314{ padding: 0px;}
A.c52314 {
font-size: 9pt; line-height: 150%; text-decoration: none 
;}
A.c52314:link {
color:#222222;}
A.c52314:visited {
color:#222222;}
A.c52314:active {
color: #222222;}
A.c52314:hover {
color: #cc0000;}
