.splitcharstyle50587{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font50587{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.leaderfont50589{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle50589{ border-bottom: #d52b2b 1px solid; position: relative; border-left: #d52b2b 1px solid; padding-left: 3px; background-repeat: no-repeat; font-family: 宋体; height: 16px; color: #222222; font-size: 10pt; border-top: #d52b2b 1px solid; border-right: #d52b2b 1px solid; padding-top: 6px ;}

.erjifontover50590{ text-align: center; font-family: 宋体; color: #ffffff; font-size: 9pt ;}
.leaderfont50590{ font-family: 宋体; color: #ffffff; font-size: 11pt ;}
.erjibackground50590{ border-bottom: #ffffff 1px solid; position: relative; text-align: center; background-color: #4996ca; width: 110px; font-family: 宋体; height: 26px; color: #ffffff; font-size: 10pt; top: 10px; font-weight: bold ;}
.currentfontStyle50590{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle50590{ font-family: 宋体; color: #ffffff; font-size: 11pt; font-weight: bold ;}
.yijifontover50590{ font-family: 宋体; color: #000000; font-size: 11pt; font-weight: bold ;}
.erjibackgroundover50590{ border-bottom: #ffffff 1px solid; position: relative; text-align: center; background-color: #b1751b; width: 110px; font-family: 宋体; height: 26px; color: #ffffff; font-size: 10pt; top: 10px; font-weight: bold ;}
.ejfontstyle50590{ text-align: center; font-family: 宋体; color: #ffffff; font-size: 9pt ;}

.titlestyle50591{ font-size: 9pt; color: #222222; text-decoration: none ;}

.titlestyle50582{ font-family: 宋体; color: #b52a31; font-size: 11pt; font-weight: bold ;}

.erjifontover50584{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont50584{ color: #222222; font-size: 9pt ;}
.yijibackground50584{ background-image: url(images/nydh04.jpg) ;}
.erjibackground50584{ background-color: #eff8fe ;}
.currentfontStyle50584{ position: relative; color: #cc0000; font-size: 11pt; font-weight: bold; text-decoration: none; left: 20px ;}
.fontstyle50584{ position: relative; font-family: 宋体; color: #222222; font-size: 11pt; font-weight: bold; left: 20px ;}
.yijifontover50584{ position: relative; font-family: 宋体; color: #cc0000; font-size: 11pt; font-weight: bold; left: 20px ;}
.erjibackgroundover50584{ background-color: #e8f0fb ;}
.yijibackgroundover50584{ background-image: url(images/nydh04.jpg) ;}
.ejfontstyle50584{ font-size: 9pt; color: #222222; line-height: 160% ;}

.windowstyle50583{ font-family: 宋体; color: #ffffff; font-size: 9pt; font-weight: bold ;}

.splitflagstyle50593{ color: #ff0000 ;}
.fontstyle50593{ color: #ff0000; font-size: 9pt; text-decoration: none ;}
.winstyle50593{ font-family: 宋体; color: #f70909; font-size: 9pt ;}

.clickstyle52316{ line-height: 150%; color: #222222; font-size: 9pt;}
.leaderfont52316{ line-height: 150%; color: #222222; font-size: 9pt ;}
.titlestyle52316{ font-size: 9pt; line-height: 150%; text-decoration: none ;}
.columnstyle52316{ line-height: 150%; color: #222222; font-size: 9pt; text-decoration: none ;}
.timestyle52316{ line-height: 150%; color: #222222; font-size: 9pt;}
.buttonstyle52316{ font-size: 9pt ;}
.winstyle52316{ padding: 0px;}
A.c52316 {
font-size: 9pt; line-height: 150%; text-decoration: none 
;}
A.c52316:link {
color:#222222;}
A.c52316:visited {
color:#222222;}
A.c52316:active {
color: #222222;}
A.c52316:hover {
color: #cc0000;}
