.splitcharstyle50896{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.font50896{ font-family: 宋体; color: #222222; font-size: 9pt; text-decoration: none ;}

.erjifontover50898{ font-size: 9pt; color: #cc0000; line-height: 160% ;}
.leaderfont50898{ color: #222222; font-size: 9pt ;}
.erjibackground50898{ background-color: #eff8fe ;}
.currentfontStyle50898{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle50898{ color: #ffffff; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.yijifontover50898{ color: #eeee11; font-size: 11pt; font-weight: bold ;}
.erjibackgroundover50898{ background-color: #e8f0fb ;}
.ejfontstyle50898{ font-size: 9pt; color: #222222; line-height: 160% ;}

.leaderfont50913{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle50913{ border-right: #878787 1px solid; border-top: #878787 1px solid; padding-left: 18px; font-size: 10pt; background-image: url(system/resource/images/research/seach_bg.gif); border-left: #878787 1px solid; color: #222222; padding-top: 3px; border-bottom: #878787 1px solid; background-repeat: no-repeat; font-family: 宋体; position: relative ;}

.windowstyle50906{ font-family: 宋体; color: #982b00; font-size: 10pt; font-weight: bold ;}

.fontstyle50907{ font-size: 9pt; color: #222222; text-decoration: none ;}
.splitflagstyle50907{ color: #222222 ;}
.winstyle50907{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.timestyle52270{ line-height: 150%; color: #222222; font-size: 9pt;}
.leaderfont52270{ line-height: 150%; color: #222222; font-size: 9pt ;}
.titlestyle52270{ font-size: 9pt; line-height: 150%; text-decoration: none ;}
.buttonstyle52270{ font-size: 9pt ;}
.clickstyle52270{ line-height: 150%; color: #222222; font-size: 9pt;}
.winstyle52270{ padding: 0px;}
.columnstyle52270{ line-height: 150%; color: #222222; font-size: 9pt; text-decoration: none ;}
A.c52270 {
font-size: 9pt; line-height: 150%; text-decoration: none 
;}
A.c52270:link {
color:#222222;}
A.c52270:visited {
color:#222222;}
A.c52270:active {
color: #222222;}
A.c52270:hover {
color: #cc0000;}
.morestyle50902{ font-size: 9pt ;}
.clickstyle50902{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont50902{ line-height: 150%; font-size: 9pt; font-weight: bold ;}
.titlestyle50902{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle50902{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle50902{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c50902 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c50902:link {
color:#222222;}
A.c50902:visited {
color:#222222;}
A.c50902:active {
color: #222222;}
A.c50902:hover {
color: #cc0000;}
