.fontstyle42537{ font-size: 9pt; color: #222222; text-decoration: none ;}
.splitflagstyle42537{ color: #222222 ;}
.winstyle42537{ font-size: 9pt; color: #222222; font-family: 宋体 ;}

.windowstyle42540{ padding-bottom: 0px; line-height: 30px; padding-right: 0px; height: 30px; font-size: 18px; font-weight: bold; padding-top: 0px ;}

A.c42534{
font-size:9pt;
line-height:150%;
color:#333333;
text-decoration: none;}
A.c42534:link {
color: #222222;}  
A.c42534:visited {
color: #222222;}  
A.c42534:active {
color: #222222;}  
A.c42534:hover {
color: #cc0000;}
.c42534_date {
line-height: 150%;
font-size: 9pt;
text-decoration: none;}
.c42534_click {
font-size: 9pt;
color: #222222;
line-height: 150%;}
.c42534_leaderfont {
font-size: 9pt;
line-height: 150%;}
.c42534_columnstyle {
font-size: 9pt;
color: #222222;
text-decoration: none;}
.c42534_isnew {
font-size: 9pt;
color: #222222;
text-decoration: none;}
