.erjifontover17813{ border-bottom: #676767 1px solid; position: relative; text-align: center; line-height: 160%; background-position-x: center; font-family: 宋体; height: 26px; color: #000000; font-size: 10pt; font-weight: bold ;}
.leaderfont17813{ color: #222222; font-size: 9pt ;}
.erjibackground17813{ background-color: #eff8fe ;}
.currentfontStyle17813{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle17813{ color: #ffffff; font-size: 11pt; font-weight: bold ;}
.yijifontover17813{ color: #ffff00; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover17813{ background-color: #e8f0fb ;}
.ejfontstyle17813{ border-bottom: #676767 1px solid; position: relative; text-align: center; line-height: 160%; background-position-x: center; font-family: 宋体; height: 26px; color: #000000; font-size: 10pt; font-weight: bold ;}

.windowstyle17821{ font-family: 宋体; color: #222222; font-size: 11pt; font-weight: bold ;}

.windowstyle17837{ font-family: 宋体; color: #699c0f; font-size: 10pt; font-weight: bold ;}

.splitflagstyle17824{ color: #222222 ;}
.fontstyle17824{ color: #000000; font-size: 9pt; text-decoration: none ;}
.winstyle17824{ font-family: 宋体; font-size: 9pt ;}

.leaderstyle51190{ font-size: 9pt; color: #222222 ;}
.morestyle51190{ font-size: 9pt ;}
.linkstyle51190{ line-height: 150%; color: #676767; font-size: 11pt ;}
.jumpstyle51190{ font-size: 9pt; font-family: 宋体 ;}
A.c51190 {
line-height: 150%; color: #676767; font-size: 11pt 
;}
A.c51190:link {
color:;}
A.c51190:visited {
color:;}
A.c51190:active {
color: ;}
A.c51190:hover {
color: ;}
.leaderstyle51188{ font-size: 9pt; color: #222222 ;}
.morestyle51188{ font-size: 9pt ;}
.linkstyle51188{ line-height: 150%; font-family: 宋体; color: #676767; font-size: 11pt ;}
.jumpstyle51188{ font-size: 9pt; font-family: 宋体 ;}
A.c51188 {
line-height: 150%; font-family: 宋体; color: #676767; font-size: 11pt 
;}
A.c51188:link {
color:;}
A.c51188:visited {
color:;}
A.c51188:active {
color: ;}
A.c51188:hover {
color: ;}
.leaderstyle51191{ font-size: 9pt; color: #222222 ;}
.morestyle51191{ font-size: 9pt ;}
.linkstyle51191{ line-height: 150%; font-family: 宋体; color: #676767; font-size: 11pt ;}
.jumpstyle51191{ font-size: 9pt; font-family: 宋体 ;}
A.c51191 {
line-height: 150%; font-family: 宋体; color: #676767; font-size: 11pt 
;}
A.c51191:link {
color:;}
A.c51191:visited {
color:;}
A.c51191:active {
color: ;}
A.c51191:hover {
color: ;}
.leaderstyle51189{ font-size: 9pt; color: #222222 ;}
.morestyle51189{ font-size: 9pt ;}
.linkstyle51189{ line-height: 150%; font-family: 宋体; color: #676767; font-size: 11pt ;}
.jumpstyle51189{ font-size: 9pt; font-family: 宋体 ;}
A.c51189 {
line-height: 150%; font-family: 宋体; color: #676767; font-size: 11pt 
;}
A.c51189:link {
color:;}
A.c51189:visited {
color:;}
A.c51189:active {
color: ;}
A.c51189:hover {
color: ;}
