.splitflagstyle49633{ color: #ffffff ;}
.fontstyle49633{ color: #ffffff; font-size: 10pt; text-decoration: none ;}
.winstyle49633{ color: #fff; font-size: 10pt; font-weight: bold ;}

.relnumfontstyle49648{ color: #ff0000 ;}
.titlestyle49648{ font-family: 宋体; color: #222222;text-decoration: none; font-size: 9pt ;}
.winstyle49648{ font-family: 宋体; font-size: 9pt ;}
A.c49648
{
    font-family: 宋体; color: #222222;text-decoration: none; font-size: 9pt 
;}
A.c49648:link 
{
    color:#000000;}
A.c49648:visited 
{
    color:#000000;}
A.c49648:active 
{
    color: #000000;}
A.c49648:hover 
{
    color: #000000;}

.c49648_t table
{
    border-collapse:collapse;
    border:0px black solid;}                                                                          
.c49648_t td
{
    border:0px black solid;}     
