.erjifontover17813{ border-bottom: #676767 1px solid; position: relative; text-align: center; line-height: 160%; background-position-x: center; font-family: 宋体; height: 26px; color: #000000; font-size: 10pt; font-weight: bold ;}
.leaderfont17813{ color: #222222; font-size: 9pt ;}
.erjibackground17813{ background-color: #eff8fe ;}
.currentfontStyle17813{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle17813{ color: #ffffff; font-size: 11pt; font-weight: bold ;}
.yijifontover17813{ color: #ffff00; font-size: 11pt; font-weight: bold; text-decoration: none ;}
.erjibackgroundover17813{ background-color: #e8f0fb ;}
.ejfontstyle17813{ border-bottom: #676767 1px solid; position: relative; text-align: center; line-height: 160%; background-position-x: center; font-family: 宋体; height: 26px; color: #000000; font-size: 10pt; font-weight: bold ;}

.windowstyle17821{ font-family: 宋体; color: #222222; font-size: 11pt; font-weight: bold ;}

.windowstyle17829{ font-family: 宋体; color: #699c0f; font-size: 10pt; font-weight: bold ;}

.splitflagstyle17824{ color: #222222 ;}
.fontstyle17824{ color: #000000; font-size: 9pt; text-decoration: none ;}
.winstyle17824{ font-family: 宋体; font-size: 9pt ;}

.clickstyle52315{ line-height: 150%; color: #222222; font-size: 9pt;}
.leaderfont52315{ line-height: 150%; color: #222222; font-size: 9pt ;}
.titlestyle52315{ font-size: 9pt; line-height: 150%; text-decoration: none ;}
.columnstyle52315{ line-height: 150%; color: #222222; font-size: 9pt; text-decoration: none ;}
.buttonstyle52315{ font-size: 9pt ;}
.timestyle52315{ line-height: 150%; color: #222222; font-size: 9pt;}
.winstyle52315{ padding: 0px;}
A.c52315 {
font-size: 9pt; line-height: 150%; text-decoration: none 
;}
A.c52315:link {
color:#222222;}
A.c52315:visited {
color:#222222;}
A.c52315:active {
color: #222222;}
A.c52315:hover {
color: #cc0000;}
