BODY {
 PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN-top: 0px; MARGIN-bottom: 0px; MARGIN-left: 0px; MARGIN-right: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.STYLE1 .lj {
 COLOR: #ffffff; TEXT-DECORATION: none
}
.bj {
 BACKGROUND-IMAGE: url(http://xrzx.scrtvu.net/style/images/neiye_12.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom
}
.bbj {
 BACKGROUND-IMAGE: url(http://xrzx.scrtvu.net/style/images/neiye_11.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom; PADDING-TOP: 8px
}
A {
 COLOR: #000000; TEXT-DECORATION: none
}
.xian {
 BORDER-BOTTOM: #cccccc 1px dashed
}