
*{ font-size:11pt; font-family:"微软雅黑", Tahoma; }
a{ text-decoration:none; color:#676767;}
a:hover{ color:#c00;}
img{ border:none;}
p,ul,li,h1, h2, h3, h4, h5, h6, input{ list-style:none; padding:0; margin:0;}
.fl{ float:left;}
.fr{ float:right;}
.tl{ text-align:left}
.tc{ text-align:center;}
.tr{ text-align:right;}
.mt10{ margin-bottom:10px;}
.h1size{ font-size: 13pt; }
.h2size{ font-size: 12pt; }
.h3size{ font-size: 11pt; }
.h4size{ font-size: 10pt; }
body{width:100%; height:auto; margin:0 auto; padding:0; font-family: Arial,tomoha;}
#wrapper{  width:100%; height:auto; overflow:hidden; }
#wrapper #header{ width:100%; height:auto; background:#F4F4F4; }
#header #topNav{ height:25px; line-height:25px; width:1200px; margin:0 auto;z-index:2; position:relative;}
#header #topNav .topNav_Lbox{ float:left; width:120px; }
#header #topNav .topNav_Lbox ul{}
#header #topNav .topNav_Lbox ul li{ float:left; height:25px; line-height:25px; width:30px; text-align:left;}
#header #topNav .topNav_Lbox ul li a{}
#header #topNav .topNav_Lbox ul li a:hover{}
#header #topNav .topNav_Lbox ul li a img{margin-top:3px;}
#header #topNav .topNav_Lbox ul li a.tip{position:relative;text-decoration:none;}
#header #topNav .topNav_Lbox ul li a.tip:hover{background:none;color:#000;}
#header #topNav .topNav_Lbox ul li a.tip span{display: none;}
#header #topNav .topNav_Lbox ul li a.tip:hover .tip_info{top:10px;left:20px;display:block;position:absolute; z-index:2;}
#header #topNav .topNav_Lbox ul li a.tip:hover .tip_info p {color:#f60;text-align:left;padding:0;border:1px solid #ccc;background:#fff;}
#header #topNav .topNav_Mbox {width:280px; height:25px; line-height:25px; float:left; }
#header #topNav .topNav_Rbox{ float:right; width: 450px; overflow:hidden; }
#header #topNav .topNav_Rbox .research{height:23px; line-height:23px; width:160px; border:1px solid #cccccc; display: inline-block;background:#ffffff;overflow:hidden;}
#header #topNav .topNav_Rbox ul{ overflow:hidden; float:right; }
#header #topNav .topNav_Rbox ul li{ height:25px; line-height:25px; float:left; background:url(../images/bg_topNav.png) right center no-repeat; padding-right:24px; overflow:hidden; margin-left:15px; text-align:right; }
#header #topNav .topNav_Rbox ul li a{}
#header #topNav .topNav_Rbox ul li a:hover{}
#header #banner{ width:100%; height:105px; background:#0E5EBE url(../images/banner_w.png) top center no-repeat; }
#banner #logo{}
#banner #research{ float:right; display:none; clear:right; margin:60px 10px 0 0; height:25px; line-height:25px; width:160px; background:#efefef; }
#header #menu{ width:100%; height:50px; background:#0E5EBE; z-index:1; position:relative; }
#header #menu #menuBox{ width:1200px; margin:0 auto; }
#header #slidePic{ margin:0 auto; padding-top:10px; width:100%; text-align:center; height:250px; background: url(../images/bg_mainContent.png) 0 20 repeat-x; position:relative; overflow:hidden; z-index:0; }
#header #slidePic_m{ height: 0; width: 0; display: none;}
#wrapper #mainContent{ width:100%; height:auto; overflow:hidden; background:url(../images/bg_mainContent.png) 0 0 repeat-x; padding:25px 0 0 0; }
#mainContent #mainContent_T{}
#mainContent #mainContent_C{ width:100%; overflow:hidden;}
#mainContent #mainContent_C #mainContent_curPos{ width:1200px; margin:0 auto; overflow:hidden; color:#676767; font-size:11pt; height:30px; line-height:30px; font-family:"微软雅黑", Tahoma; padding-left:0; margin-bottom:10px; }
#mainContent #mainContent_C #mainContent_curPos i{ color: #0E5EBE;}

#mainContent_C #index_first{ width:1200px;margin:0 auto; height:auto; margin-bottom:10px; overflow:hidden; }
#index_first #index_firstL_Box{ float:left; width:475px; height:auto; padding:0; } 
#index_first #index_firstL_Box .index_newsBox{ overflow:hidden; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_T{ height:39px; line-height:39px;  font-family:"微软雅黑", Tahoma; /*font-size:12pt;*/ font-weight:bold; border-bottom:1px solid #0E5EBE; color:#0e5ebe; padding-left:0; text-align:left; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_T a{color:#0e5ebe;/*font-size:12pt; */font-weight:bold; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_T a:hover{color:#c00;}
#index_first #index_firstL_Box .index_newsBox .index_newsBox_T span{float:right; color:#333; font-weight:normal;}
#index_first #index_firstL_Box .index_newsBox .index_newsBox_T span a{color:#333; font-weight:normal; font-size: 10pt;}
#index_first #index_firstL_Box .index_newsBox .index_newsBox_T span a:hover{color: #c00;}
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C{ overflow:hidden; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList{ border-bottom: 1px dashed #ccc;  height: auto; overflow: hidden; padding: 10px 0; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_L{float: left;  height: 58px; margin-right: 10px;  overflow: hidden; width: 58px; background:url(../images/time_w.png) left center no-repeat; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_L .index_newsDay{ font-weight:bold; color:#fff; height:19px; line-height:12px; margin-top:7px; text-align:center; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_L .index_newsYear{ color:#676767; font-size:11px; text-align:center; height:26px; line-height:26px; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_R{float: left;  height: 58px; overflow: hidden; width: 407px;}
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_R .index_newsTitle{ padding:0 0 4PX 0;}
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_R .index_newsTitle a{ color: #545454; /*font-size: 14px;*/ font-weight: bold; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_R .index_newsTitle a:hover{ color:#c00; }
#index_first #index_firstL_Box .index_newsBox .index_newsBox_C .index_newsList .index_newsList_R .index_newsAbstract{ color: #999;font-size: 12px; line-height: 18px;}
#index_first #index_firstL_Box .index_newsBox .index_newsBox_B{}

#index_first #index_firstR_Box{ float:right; width:712px; height:auto; padding:0px;}
#index_firstR_Box .index_firstR_Box_T{}
#index_firstR_Box .index_firstR_Box_C{ overflow:hidden; }
#index_firstR_Box .index_firstR_Box_C .index_hotLink{ height:83px; margin-bottom:15px; overflow:hidden;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_T{}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C{overflow:hidden;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C .index_picNews{ width:300px; overflow:hidden; float:left; }
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C .index_picNews li{width:95px;text-align:center;background:#eeeeee;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul{}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul li{ overflow:hidden; float:left; margin-right:5px; height:87px; }
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul li a{display:block;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul li a:hover{}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul li a span{height:22px;line-height:22px; margin-top:5px;background:#0E5EBE;display:block;color:#fff;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul li a:hover span{background:#eeeeee;color:#666;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul li img{ }
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C ul li a:hover img{}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C .index_login{ height: 81px; width: 399px; overflow: hidden; border: 1px dashed #ccc; float: right; }
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C .index_login .index_loginL{width:44px; background:url(../images/index_login5.png) left center no-repeat; height:80px; float:left;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_C .index_login .index_loginM{background:#efefef; text-align:right; height:81px; padding:5px 0 0 50px; overflow:hidden;}
#index_firstR_Box .index_firstR_Box_C .index_hotLink .index_hotLink_B{}
#index_firstR_Box .index_firstR_Box_C .index_picBox{ height:auto; overflow:hidden; width:100%;}
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_T{ background:#eee url(../images/bt_bg3.png) left center no-repeat; height:36px; line-height:36px; }
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_T span{ float:right; padding:0 10px 0 0;}
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C{ overflow:hidden; padding:10px 0 ; border-top:1px solid #0e5ebf; }
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul{ overflow:hidden; height:140px; }
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul li{ width:25%; text-align:center; float:left; overflow:hidden; }
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul li img{ width:169px; height: 110px; }
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul li span{ display:block; height:30px; line-height:30px; width:169px; margin-left:4px; background: #efefef;  }
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul li a{}
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul li a:hover{}
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul li a:hover img{filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7}
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_C ul li:hover{background: #efefef; }
#index_firstR_Box .index_firstR_Box_C .index_picBox .index_picBox_B{}
#index_firstR_Box .index_firstR_Box_C .index_hotPoint{ height:auto; overflow:hidden;}
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_T{ height:30px; line-height:30px; background:url(../images/tf_3.jpg) left center repeat-x;}
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_T span{ display:block; height:30px; line-height:30px; font-size:12pt; font-family:"微软雅黑", Tahoma; font-weight:bold; background:#fff; width:80px; color:#0e5ebe; }
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_C{ overflow:hidden; }
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_C ul{}
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_C ul li{ overflow:hidden; background:url(../images/arrow.gif) left center no-repeat; padding-left:8px; float:left; width:93px; height:30px; line-height:30px;  }
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_C ul li a{}
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_C ul li a:hover{}
#index_firstR_Box .index_firstR_Box_C .index_hotPoint .index_hotPoint_B{}
#index_firstR_Box .index_firstR_Box_B{}          

#mainContent_C #index_second{ width:1200px; margin:0 auto;  height:auto; margin-bottom:10px; overflow:hidden; }
#index_second #index_second_T{}
#index_second #index_second_C{}

#index_second_C .index_secondL_Box{ width:425px; float:left; }
.index_secondL_Box .index_secondL_Box_T{ height:39px; line-height:39px;  font-family:"微软雅黑", Tahoma; /*font-size:12pt;*/ font-weight:bold; border-bottom:1px solid #0E5EBE; color:#0e5ebe; padding-left:0; /*background:url(../images/tf_2.jpg) left center no-repeat;*/text-align:left;}
.index_secondL_Box_T span{float:right; padding-right:10px; color:#333; font-weight:normal; }
.index_secondL_Box .index_secondL_Box_C{ height:auto; overflow:hidden; }
.index_secondL_Box_C ul{ padding:10px 5px 10px 0; overflow:hidden; }
.index_secondL_Box_C ul li{ height:39px; line-height:39px; background:url(../images/dot2.gif) center left no-repeat; padding-left:10px; border-bottom:1px solid #fff;text-align:left; }
.index_secondL_Box_C ul li:hover{ border-bottom:1px dashed #ccc; }
.index_secondL_Box_C ul li span{float:right; color:#999;}
.index_secondL_Box_C ul li a{ font-family:"微软雅黑", Tahoma; } 
.index_secondL_Box .index_secondL_Box_B{}              

#index_second_C .index_secondM_Box{ width:425px; float:left; margin-left:12px; }
.index_secondM_Box .index_secondM_Box_T{ height:39px; line-height:39px;  font-family:"微软雅黑", Tahoma; /*font-size:12pt;*/ font-weight:bold; border-bottom:1px solid #0E5EBE;  color:#0e5ebe; padding-left:0; /*background:url(../images/tf_2.jpg) left center no-repeat;*/text-align:left;}
.index_secondM_Box .index_secondM_Box_T span{float:right; padding-right:10px; color:#333; font-weight:normal; }
.index_secondM_Box .index_secondM_Box_C{ height:auto; padding:0 ; overflow:hidden; } 
.index_secondM_Box .index_secondM_Box_C ul{ padding:10px 5px 10px 0; overflow:hidden; }
.index_secondM_Box .index_secondM_Box_C ul li{ height:39px; line-height:39px; background:url(../images/dot2.gif) center left no-repeat; padding-left:10px; border-bottom:1px solid #fff;text-align:left;}
.index_secondM_Box .index_secondM_Box_C ul li:hover{ border-bottom:1px dashed #ccc; }
.index_secondM_Box .index_secondM_Box_C ul li span{float:right; color:#999;}
.index_secondM_Box .index_secondM_Box_C ul li a{ font-family:"微软雅黑", Tahoma; }
.index_secondM_Box .index_secondM_Box_C ul li a:hover{}
.index_secondM_Box .index_secondM_Box_B{}


#index_second_C .index_secondR_Box{ width:325px; float:right; background:#fff;}
.index_secondR_Box .index_secondR_Box_T{ height:39px; line-height:39px;  font-family:"微软雅黑", Tahoma; /*font-size:12pt;*/ font-weight:bold; border-bottom:1px solid #0E5EBE;  color:#0e5ebe; padding-left:0; /*background:url(../images/tf_2.jpg) left center no-repeat;*/text-align:left;}
.index_secondR_Box .index_secondR_Box_T span{float:right; padding-right:10px; color:#333; font-weight:normal; }
.index_secondR_Box .index_secondR_Box_C{ height:auto; padding:0 ; overflow:hidden; }
.index_secondR_Box .index_secondR_Box_C ul{ padding:10px 0; overflow:hidden; }
.index_secondR_Box .index_secondR_Box_C ul li{  height:39px; line-height:39px; background:url(../images/dot2.gif) center left no-repeat; padding-left:10px; border-bottom:1px solid #fff;text-align:left; overflow: hidden; }
.index_secondR_Box .index_secondR_Box_C ul li:hover{ border-bottom:1px dashed #ccc; }
.index_secondR_Box .index_secondR_Box_C ul li span{float:right; color:#999;}
.index_secondR_Box .index_secondR_Box_C ul li a{ font-family:"微软雅黑", Tahoma; }
.index_secondR_Box .index_secondR_Box_C ul li a:hover{}
.index_secondR_Box .index_secondR_Box_B{}              
#index_second #index_second_B{}

#mainContent_C #index_topic{ width:1200px; margin:0 auto; height:auto; margin-bottom:10px; overflow:hidden; }
#index_topic #index_topic_T{ height:38px; line-height:38px;  font-family:"微软雅黑", Tahoma; font-size:12pt; font-weight:bold; width:200px; border-bottom:3px solid #0E5EBE; padding:0 0 0 15px; }
#index_topic #index_topic_T span{ color:#dcdcdc; margin-left:1em;}
#index_topic #index_topic_C{ overflow:hidden; padding:15px 0 10px; border-top:1px solid #0E5EBE; }
#index_topic #index_topic_C ul{ width:100%; text-align:center; overflow:hidden; }
#index_topic #index_topic_C ul li{ float:left; width:25%; margin-bottom: 10px; text-align:center; overflow:hidden; }
#index_topic #index_topic_C ul a{}
#index_topic #index_topic_C ul img{border:1px solid #ccc; padding:4px; background:#fff;}
#index_topic #index_topic_C ul li a:hover img{filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7}       
#index_topic #index_topic_B{}          

#mainContent_C #index_comLink{ width:100%; height:189px; background:#282828; overflow:hidden; }
#index_comLink #index_comLink_T{ width:1198px; margin:0 auto; margin-top:15px; height:40px; line-height:40px; color:#ededed; font-size:11pt; font-weight:bold; font-family: "微软雅黑", Tahoma;  }
#index_comLink #index_comLink_C{  width:1198px; margin:0 auto; overflow:hidden;}
#index_comLink #index_comLink_C .index_comLinkBox{ overflow:hidden; float:left; width:370px; }
#index_comLink #index_comLink_C .index_comLinkBox .index_comLinkBox_T{}
#index_comLink #index_comLink_C .index_comLinkBox .index_comLinkBox_C{ overflow:hidden;}
#index_comLink #index_comLink_C .index_comLinkBox .index_comLinkBox_C ul{ overflow:hidden; width:360px; margin:10px 0 0 0; }
#index_comLink #index_comLink_C .index_comLinkBox .index_comLinkBox_C ul li{ height:32px; line-height:32px; float:left; width:119px; text-align:center; border-right:1px solid #5c5c5c;}
#index_comLink #index_comLink_C .index_comLinkBox .index_comLinkBox_C ul li a{ color:#bcbcbc; font-size:10pt; }
#index_comLink #index_comLink_C .index_comLinkBox .index_comLinkBox_C ul li a:hover{ color:#ff0; }
#index_comLink #index_comLink_C .index_comLinkBox .index_comLinkBox_B{}
#index_comLink #index_comLink_C .index_dropdownMenu{ overflow:hidden; float:right; width:200px;  }
#index_comLink #index_comLink_C .index_dropdownMenu .index_dropdownMenu_T{}
#index_comLink #index_comLink_C .index_dropdownMenu .index_dropdownMenu_C{ overflow:hidden; text-align:right;}
#index_comLink #index_comLink_C .index_dropdownMenu .index_dropdownMenu_C form{height:32px; line-height:32px; }
#index_comLink #index_comLink_C .index_dropdownMenu .index_dropdownMenu_C form select{ width:180px; background:#ccc; color:#333; font-size:9pt; }
#index_comLink #index_comLink_C .index_dropdownMenu .index_dropdownMenu_B{}       
#index_comLink #index_comLink_B{} 

#mainContent_C #mainContent_listPage{ width:1198px; margin:0 auto;  height:auto; overflow:hidden;  }
#mainContent_listPage #mainContent_listPage_T{ height:12px; background:url(../images/curPos.png) left center repeat-x; }
#mainContent_listPage #mainContent_listPage_C{ background:url(../images/mainContent_bg2.gif) center top repeat-y; padding:20px 0 0 0; overflow:hidden; }

#mainContent_listPage #mainContent_listPage_C #mainContent_Lsider{ display:inline; float:left; width:272px;  height:auto; overflow:hidden;margin-left:16px;}      
#mainContent_Lsider #mainContent_Lsider_T{}
#mainContent_Lsider #mainContent_Lsider_C{ width:100%; height:auto;  }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List{ margin-bottom:20px; height:auto; overflow:hidden; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_T{ height:45px; line-height:45px; font-size:12pt; font-weight:bold; color:#333; background:url(../images/lamu_bg1.gif) bottom left no-repeat; padding-left:10px; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C{}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul{ padding:0;}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li{ height:49px; line-height:49px; border-bottom:1px solid #ccc; padding-left:10px; background:url(../images/arrow_1.gif) 140px center no-repeat; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a{ color:#676767;}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li span a{ color:#A61C33; font-weight:bold; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a:hover{ color:#c00;}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_B{ height:10px;} 
#mainContent_Lsider #mainContent_Lsider_B{}   

#mainContent_listPage #mainContent_listPage_C #mainContent_Rcontent{ float:right;  width:909px; height:auto; overflow:hidden; } 
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_T{ width:100%; height:0;}
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C{ width:100%; height:auto; overflow:hidden;}
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox{ overflow:hidden; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_T{}
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C{ overflow:hidden; padding: 0 0 0 20px;}
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox{ }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul{ padding:0px; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul li{ overflow:hidden; border-bottom:1px dashed #ccc; padding:10px 0; margin:0 0 10px 0; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul li p{ margin:0; padding:0;}
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul li p.news_title{ height:30px; line-height:30px; margin-bottom:10px; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul li p.news_title a{ color:#0E5EBF; font-size:12pt; font-weight:bold; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul li p.news_title a:hover{ color:#c00; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul li p.news_detail{ line-height:25px; color:#676767; height:50px; overflow:hidden; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .news_ListBox ul li p.news_detail span{ color:#999; padding-right:10px; }
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_C .page_NumBox{ height:30px; text-align:center;}
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_ListBox .Rcontent_ListBox_B{}
#mainContent_listPage_C #mainContent_Rcontent #mainContent_Rcontent_B{}
#mainContent_listPage #mainContent_listPage_B{ height:8px; background:url(../images/listPage_bg1.gif) 0 0 repeat-x; margin-bottom:10px;}

#mainContent_C #recentNews{ width:1198px; margin:0 auto; margin-bottom:10px;  height:154px; overflow:hidden; background:url(../images/listPage_bg2.gif) 0 0 repeat-x;  }
#mainContent_C #recentNews #recentNews_T{}
#mainContent_C #recentNews #recentNews_C{ width:100%; height:100%; background:url(../images/listPage_bg3.gif) 80px center no-repeat; overflow:hidden; padding:40px 0 0 0; }
#mainContent_C #recentNews #recentNews_C ul{ overflow:hidden; width:950px; height:90px; float:right; }
#mainContent_C #recentNews #recentNews_C ul li{ padding:10px;width:250px; line-height:25px; float:left; border-right:1px solid #ccc; overflow:hidden;  }
#mainContent_C #recentNews #recentNews_C ul li span{ color:#fff; clear:both; }
#mainContent_C #recentNews #recentNews_C ul li a{ color:#fff; }
#mainContent_C #recentNews #recentNews_C ul li a:hover{ color:#fff0; }
#mainContent_C #recentNews #recentNews_B{}


#mainContent_C #mainContent_articlePage{ width:1198px; margin:0 auto;  height:auto; overflow:hidden; }
#mainContent_articlePage #mainContent_articlePage_T{ height:12px; background:url(../images/curPos.png) left center repeat-x; }
#mainContent_articlePage #mainContent_articlePage_C{ background:url(../images/mainContent_bg2_2.gif) center top repeat-y; padding:20px 0 0 0; overflow:hidden; }

#mainContent_articlePage #mainContent_articlePage_C #mainContent_Lsider{ float:right; margin-left:16px;display:inline; width:172px; height:auto; overflow:hidden; }    
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_T{}
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C{ width:100%; height:400px; background:url(../images/mainContent_bg3.jpg) center top no-repeat;  }
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List{ margin-bottom:20px; height:auto; overflow:hidden; }
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_T{ height:45px; line-height:45px; font-size:12pt; font-weight:bold; color:#333; background:url(../images/lamu_bg1.gif) bottom left no-repeat; padding-left:10px; }
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C{}
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul{ padding:0;}
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li{ height:49px; line-height:49px; border-bottom:1px solid #ccc; padding-left:10px; background:url(../images/arrow_1.gif) 140px center no-repeat; }
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a{ color:#676767;}
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li span a{ color:#A61C33; font-weight:bold; }
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a:hover{ color:#c00;}
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_B{ height:10px;}
#mainContent_articlePage_C #mainContent_Lsider #mainContent_Lsider_B{}

#mainContent_articlePage #mainContent_articlePage_C #mainContent_Rcontent{ float:left;  width:909px; height:auto; overflow:hidden; } 
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_T{ width:100%; height:0;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C{ width:100%; height:auto; overflow:hidden;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox{ overflow:hidden;    min-height: 580px;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_T{}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C{}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox{} 
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_title{ color:#0C5FBF; font-size:14pt; font-weight:bold; text-align:center; line-height:180%; } 
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_info{ height:30px; line-height:30px; color:#999; overflow:hidden; text-align:center; margin-bottom:10px; } 
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article{ border-top:1px dashed #ccc; padding:20px 10px; line-height:200%; font-size:12pt; overflow:hidden; }
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article img{ padding:8px; border:1px solid #ccc; text-align:center; text-indent:0; max-width:700px; }
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article TABLE{ border-collapse:collapse;border:1px solid #000 } 
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article TABLE TD{ border:1px solid #000000; padding:5px 0; font-size:12pt; vertical-align:middle; text-align:center;}
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article TABLE TD P { text-indent: 0px; margin: 0px; font-size: 12pt; text-align:center; vertical-align:middle;}
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article TABLE TD P *{font-size:12pt;}
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article p{text-indent: 2em;  margin: 12px 0; line-height:200%; font-size:12pt; }
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article p *{font-size:12pt;}
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article .index_rqzs_20190521{ overflow: hidden;}
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article .index_rqzs_20190521 ul{ overflow: hidden;}
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article .index_rqzs_20190521 ul li{ float: left; width:33.33%; margin: 0 0 20px 0; }
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article .index_rqzs_20190521 ul li h3{ text-align: center; height: 30px; line-height: 30px; text-indent: 0;}
#Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_article .index_rqzs_20190521 ul li p{ text-align: center; text-indent: 0;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_Attach{ overflow: hidden;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_Attach ul{ overflow: hidden}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_Attach ul li{ height: 40px; line-height: 40px;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_Attach ul li span{color:#cc0000;font-weight:bold; }
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_Attach ul li span i{ color:#0e5ebe; }
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_Attach ul li a{}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_Attach ul li a:hover{}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_PreNews{border-top: 1px dashed #efefef; padding-top:20px; margin-top: 20px;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_PreNews ul{ overflow: hidden; }
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_PreNews ul li{height: 35px; line-height: 35px; overflow: hidden;}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_PreNews ul li span{font-weight: bold; }
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_PreNews ul li span i{ color:#0e5ebe; }
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_PreNews ul li a{}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_C .article_ContBox .article_ContBox_other{} 
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_AritBox .Rcontent_AritBox_B{}
#mainContent_articlePage_C #mainContent_Rcontent #mainContent_Rcontent_B{}
#mainContent_articlePage #mainContent_articlePage_B{ height:8px; background:url(../images/listPage_bg1.gif) 0 0 repeat-x; margin-bottom:10px; }

#mainContent_C #mainContent_lamuPage{ width:1198px; margin:0 auto;  height:auto; overflow:hidden;  }
#mainContent_lamuPage #mainContent_lamuPage_T{ height:12px; background:url(../images/curPos.png) left center repeat-x; }
#mainContent_lamuPage #mainContent_lamuPage_C{ background:url(../images/mainContent_bg2.gif) center top repeat-y; padding:20px 0 0 0; overflow:hidden;    min-height: 570px; }
#mainContent_lamuPage #mainContent_lamuPage_C #mainContent_Lsider{ float:left; margin-left:16px; display:inline; width:272px;  height:auto; overflow:hidden; }     
#mainContent_Lsider #mainContent_Lsider_T{}
#mainContent_Lsider #mainContent_Lsider_C{ width:100%; height:auto;  }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List{ margin-bottom:20px; height:auto; overflow:hidden; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_T{ height:45px; line-height:45px; font-size:12pt; font-weight:bold; color:#333; background:url(../images/lamu_bg1.gif) bottom left no-repeat; padding-left:10px; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C{}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul{ padding:0;}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li{ height:49px; line-height:49px; border-bottom:1px solid #ccc; padding-left:10px; background:url(../images/arrow_1.gif) 140px center no-repeat; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a{ color:#676767;}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li span a{ color:#A61C33; font-weight:bold; }
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a:hover{ color:#c00;}
#mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_B{ height:10px;} 
#mainContent_Lsider #mainContent_Lsider_B{}   

#mainContent_lamuPage #mainContent_lamuPage_C #mainContent_Rcontent{ float:right;  width:909px; height:auto; overflow:hidden; } 
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_T{ width:100%; height:0;}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C{ width:100%; height:auto; overflow:hidden;}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox{ overflow:hidden; }
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_T{}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C{ overflow:hidden; padding: 0 0 0 20px; line-height:200%; font-size:11pt; }
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C p{ margin: 12px 0; line-height:200%; font-size:11pt;}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C img{ padding:8px; border:1px solid #ccc; text-align:center; text-indent:0; max-width:700px; }
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C .wb_window{border:none;}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C .wb_window td{ padding:0;}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C  .wb_window #vsb_content table{ border: #efefef 1px solid;  BORDER-COLLAPSE: collapse; width: 100%; overflow: hidden;word-break:break-all; word-wrap:break-all;}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C  .wb_window #vsb_content table tr{}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_C  .wb_window #vsb_content table td{padding: 18px 0 18px 2%;}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_lamuBox .Rcontent_lamuBox_B{}
#mainContent_lamuPage_C #mainContent_Rcontent #mainContent_Rcontent_B{}
#mainContent_lamuPage #mainContent_lamuPage_B{ height:8px; background:url(../images/listPage_bg1.gif) 0 0 repeat-x; margin-bottom:10px;}

#mainContent_C #mainContent_SearchPage{ width:1198px; margin:0 auto;  height:auto; overflow:hidden; }
#mainContent_SearchPage #mainContent_SearchPage_T{ height:12px; background:url(../images/curPos.png) left center repeat-x; }
#mainContent_SearchPage #mainContent_SearchPage_C{ background:url(../images/mainContent_bg2_2.gif) center top repeat-y; padding:20px 0 0 0; overflow:hidden;min-height:590px }
#mainContent_SearchPage #mainContent_SearchPage_C #mainContent_Lsider{ float:right; margin-left:16px;display:inline; width:172px; height:auto; overflow:hidden; }    
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_T{}
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C{ width:100%; height:400px; background:url(../images/mainContent_bg3.jpg) center top no-repeat;  }
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List{ margin-bottom:20px; height:auto; overflow:hidden; }
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_T{ height:45px; line-height:45px; font-size:12pt; font-weight:bold; color:#333; background:url(../images/lamu_bg1.gif) bottom left no-repeat; padding-left:10px; }
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C{}
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul{ padding:0;}
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li{ height:49px; line-height:49px; border-bottom:1px solid #ccc; padding-left:10px; background:url(../images/arrow_1.gif) 140px center no-repeat; }
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a{ color:#676767;}
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul li span a{ color:#A61C33; font-weight:bold; }
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_C ul a:hover{ color:#c00;}
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_C #lamu_List .lamu_List_B{ height:10px;}
#mainContent_SearchPage_C #mainContent_Lsider #mainContent_Lsider_B{}
#mainContent_SearchPage #mainContent_SearchPage_C #mainContent_Rcontent{ float:left;  width:909px; height:auto; overflow:hidden; } 
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_T{ width:100%; height:0;}
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_C{ width:100%; height:auto; overflow:hidden;}
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_SearchBox{ overflow:hidden;}
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_SearchBox .Rcontent_SearchBox_T{}
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_SearchBox .Rcontent_SearchBox_C{}
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_SearchBox .Rcontent_SearchBox_C .Search_ContBox{} 
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_C #Rcontent_SearchBox .Rcontent_SearchBox_B{}
#mainContent_SearchPage_C #mainContent_Rcontent #mainContent_Rcontent_B{}
#mainContent_SearchPage #mainContent_SearchPage_B{ height:8px; background:url(../images/listPage_bg1.gif) 0 0 repeat-x; margin-bottom:10px; }

#mainContent #mainContent_B{ }
#wrapper #footer{ width:100%; height:auto; overflow:hidden; background:#0A356F; }
#footer #copyright{ width:1198px; margin:0 auto;  text-align:left; height:40px; line-height:40px; font-size:9pt; color:#909BAF; font-family: "微软雅黑"; }
#copyright a{color:#909BAF;}
#copyright a:hover{ color: #ffff00;}