<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}

.qi_title {
	color: #CC0000;
	font-weight: bold;
	font-size: 24px;
	
	letter-spacing:2mm;
	
}
.ky_lm_title {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #357581;
	letter-spacing:1mm;
}
A {
	TEXT-DECORATION: none
}
A.mulu:link {
	COLOR: #014689;font-size: 12px;
}
A.mulu:visited {
	COLOR: #014689;font-size: 12px;
}
A.mulu:hover {
	COLOR: #ff6600;font-size: 12px;
}
A.mulu:active {
	COLOR: #014689;font-size: 12px;
}

TD {
	COLOR: #014689;FONT-SIZE: 14px; LINE-HEIGHT: 150%; FONT-FAMILY: 宋体
}
.detail_title {
	font-size: 16px;
	font-weight: bold;
	color: #CC0000;
}
-->
</style>
